/* You can add global styles to this file, and also import other style files */
.header{
  background: orangered;
  padding-left: 15px;
}

#logo{
  color: white;
  font-size: 50px;
}

.footer{
  padding: 14px;
  background: cornsilk;
  text-align: center;
  font-size: 19px;
}
