.container{
  margin-left: auto;
  margin-right: auto;
}

.item{
  width: 40%;
  margin: 30px;
  padding: 25px;
  display: inline-table;
  border-style: solid;
  border-color: orangered;
  border-radius: 20px;
  font-size: 16px;
}

.photo{
  height: 160px;
  width: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button{
  display: block;
  text-align: center;
  text-decoration: None;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  border-style: solid;
  margin-bottom: 14px;
}

.buy_link{
  background: limegreen;
  border-color: limegreen;
}

.telegram_share{
  background: cornflowerblue;
  border-color: cornflowerblue;
}

.whatsapp_share{
  background: yellowgreen;
  border-color: yellowgreen;
}

.description{
  overflow: auto;
  padding: 12px;
  height: 200px;
  margin-bottom: 40px;
  border-color: darkcyan;
  border-style: solid;
  border-radius: 3px;
}

/*.carousel-container {*/
/*  width: 70vw;*/
/*  height: 80vh;*/
/*  margin: 16px auto;*/
/*}*/

/*:host ::ng-deep {*/

/*  .image-container {*/
/*    max-width: 85%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*  }*/
/*  */
/*  .igx-carousel {*/
/*    max-width: 100%;*/
/*    width: unset;*/
/*  }*/
/*  */
/*  .igx-nav-dot {*/
/*    background: black;*/
/*    box-shadow: none;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*  }*/
/*  */
/*  .igx-slide {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    max-width: 100%;*/
/*    width: unset;*/
/*  }*/
/*  */
/*  .igx-slide img {*/
/*    object-fit: fill;*/
/*    max-width: 90%;*/
/*  }*/

/*}*/

