<h1 class="heading">{{category?.name}}</h1>

<div class="container">
  <div class="item" *ngFor="let item of category?.items">
<!--    <igx-carousel #carousel>-->
<!--      <igx-slide *ngFor="let image of product.images">-->
<!--        <div>-->
          <img class="photo" src="assets/img/{{item.image_link}}" [alt]="item.name" width="100%">
<!--        </div>-->
<!--      </igx-slide>-->
<!--    </igx-carousel>-->
    <h2>{{item.name}}</h2>
<!--    Rating: <span>{{item.rating}}</span>-->
<!--    <h3>Описание:</h3>-->
<!--    <div class="description">{{item.description}}</div>-->

    <div class="actions">
      <a class="button buy_link" [routerLink]="['item', item.id]" target="_blank">Подробнее</a>
<!--      <a class="button telegram_share" href="https://t.me/share/url?url" target="_blank">Поделиться в Telegram</a>-->
<!--      <a class="button whatsapp_share" href="whatsapp://send?text={{product.link" target="_blank">Поделиться в Whatsapp</a>-->
    </div>
  </div>
</div>
