.container{
  margin: 20px;
}

.item{
  width: 27%;
  margin: 30px;
  padding: 10px;
  display: inline-block;
  border-style: solid;
  border-color: orangered;
  border-radius: 20px;
}

.photo{
  height: 180px;
  width: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
