<div *ngIf="loaded" class="body">
  <div>
  <h4 class="title">{{album.title}}</h4>
  <button class="change_button" (click)="(toEdit=true)">Change</button>
  </div>

  <form *ngIf="toEdit" (submit)="updateAlbum()">
    <input [(ngModel)]="album.title" name="title">
    <input type="submit" value="SAVE">
  </form>

  <button class="back_button" (click)="goBack()">Return back</button>
  <button class="photos_button" routerLink="photos">Photos</button>
</div>

<div *ngIf="!loaded" class="loading">
  Loading...
</div>
