<div *ngIf="!loaded">
  Loading...
</div>


<div *ngIf="loaded">
  <div *ngIf="not_founded">
    Vacancies not founded!
  </div>

  <div *ngIf="!not_founded">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Salary</th>
        <th>Company</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let v of vacancies">
        <td>{{v.id}}</td>
        <td>{{v.name}}</td>
        <td>{{v.description}}</td>
        <td>{{v.salary}}</td>
        <td>{{v.company_name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
